{
  "IsEncrypted": false,
  "Host": {
    "CORS": "*"
  },
  "Values": {
    "Smtp": "smtp.gmail.com",
    "EmailUserName": "XXXX@gmail.com",
    "EmailPassword": "XAXAXAXAXAXA",
    "EmailFromAddress": "XXXX@gmail.com",
    "AzureWebJobsStorage": "<Fill in the Connection String>",
    "storageTestResult": "<Fill in the Connection String>",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet"
  }
}